body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.logo{

    padding-left: 15px !important;
}

.margin{

    margin-top: 10% !important;
}

.padding-bottom{

    padding-bottom: 20px !important;
}

.button_fix{

    width: 100%;
}

.grafico{
    height: 600px; 
    width: 100%;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
